* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #831a22;
    color:saddlebrown;
  }
  
  h1 {
    font-size: 3rem;
    color: #2e090c;
  }
  
  header {
    width: 900px;
    margin: 2rem auto 1rem;
  }
  
  main {
    width: 900px;
    margin: 0 auto 2rem;
  }

  main h3{
      color: #2e090c;
  }
  
  
 
  
  section {
    background-color: #d82b38;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
  }
  
  section img {
    width: 35%;
    margin: 1rem;
    border: 5px solid transparent;
  }
  
  section img:hover {
    border: 5px solid #2e090c;
    cursor: pointer;
  }

  canvas{
    max-width: 500px;
    max-height: 300px;
    margin: auto;
    color: #2e090c;
  }